.login-container {
  margin-top: 1rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20rem;
  margin: 3rem auto;
}
.login-form > div {
  width: 20rem;
}
.login-input {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(110, 203, 203);
}
.sign-in-btn {
  width: 100%;
  color: #2851a3;
  font-size: 1.1rem;
  background-color: rgb(79, 230, 250);
  transition: all 0.2s linear;
  font-weight: bold;
  &:hover {
    background-color: rgb(5, 204, 231);
  }
}

.sign-up-btn {
  color: #2851a3;
  font-size: 1.1rem;
  background-color: #ecf3ff;
  font-weight: bolder;
  transition: all 0.2s linear;
  &:hover {
    background-color: #d4d4d4;
  }
}
.forget-password {
  font-size: 0.75rem;
  font-style: italic;
  cursor: pointer;
  &:hover {
  }
}
