@use "src/globalStyle/global.scss";

.login-container {
  margin-top: 1rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20rem;
  margin: 3rem auto;
}
.login-form > div {
  width: 20rem;
}
.login-input {
  width: 100%;
  padding: 10px;
  border: 2px solid rgb(110, 203, 203);
}
.sign-in-btn {
  width: 100%;
  color: global.$btnColor;
  background-color: global.$btnBackGround;
  font-size: 1.1rem;
  transition: all 0.2s linear;
  font-weight: bold;
  &:hover {
    background-color: global.$btnHover;
  }
}

.sign-up-btn {
  color: #2851a3;
  font-size: 1.1rem;
  background-color: #ecf3ff;
  font-weight: bolder;
  transition: all 0.2s linear;
  &:hover {
    background-color: #d4d4d4;
  }
}
.forget-password {
  font-size: 0.75rem;
  font-style: italic;
  cursor: pointer;
  font-weight: bold;
  &:hover {
    color: #2851a3;
  }
}
