@use "src/globalStyle/global.scss";

.sign-up-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 3rem auto;
  height: fit-content;

  .sign-up-input {
    border: none;
  }

  .inner-item {
    padding: 5px 10px;
    border: 1px solid rgb(151, 188, 191);
    border-radius: 6px;
    display: flex;
    align-items: center;

    width: 100%;
  }
  .visible {
    color: white;
  }

  input[type="date"] {
    font-family: "Roboto Mono", monospace;
    outline: none;
    font-size: 1.1rem;
    border: none;
    width: 100%;
    box-sizing: border-box;
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .space {
    width: 20px;
  }

  .sign-up-btn {
    color: global.$btnColor;
    background-color: global.$btnBackGround;
    width: 15rem;
    text-align: center;
    margin: auto;
    &:hover {
      background-color: global.$btnHover;
    }
  }
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  cursor: pointer;
}
